body {
    background-color: #e2e2e2;
    font-family: 'Roboto', sans-serif;
}

ul li {
    font-weight: normal;
}

ul li a {
    display: inline-block;
}

#root>ul>li {
    color: blue;
    padding: 0px;
}

.bold-text {
    font-weight: bold;
}

.red-text {
    color: red;
}

.pt-10px {
    padding-top: 10px;
}


.pb-10px {
    padding-bottom: 10px;
}

.green-text {
    color: green
}